# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-ravencoin.desktop
# Note: This assumes $HOME/.local/bin is in your $PATH

[Desktop Entry]
Comment=Lightweight Ravencoin Client
Exec=electrum_ravencoin %u
GenericName[en_US]=Ravencoin Wallet
GenericName=Ravencoin Wallet
Icon=electrum
Name[en_US]=Electrum Ravencoin Wallet
Name=Electrum Ravencoin Wallet
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=electrum_ravencoin
Terminal=false
Type=Application
MimeType=x-scheme-handler/raven
Actions=Testnet;

[Desktop Action Testnet]
Exec=electrum_ravencoin --testnet %u
Name=Testnet mode
